@import "reboot.css";

:root {
  font-size: 62.5%;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.woff2") format("woff2"),
    url("/fonts/Helvetica.woff") format("woff");
}
body {
  font-family: helvetica;
  font-size: 1.6rem;
  background: radial-gradient(circle, #e7e5e4 0%, #a1a1aa 100%);
}
img {
  width: 40px;
}
.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /*gap: 0.5rem;*/
}
.navbar {
  border-radius: 1rem;
  grid-column: 2/-1;
  box-shadow: 0px 1rem 0.5rem darkgray;
  background: linear-gradient(45deg, lightgray, lightslategray);
}
.sidebar {
  background: linear-gradient(50deg, #64748b, #94a3b8);
  grid-row: 1/7;
}
.content {
  grid-column: 2/-1;
  grid-row: -6/-1;
}
/*<-- Section-top Navbar  Start -->*/
.section-top {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 2rem;
}
.section-top a,
.section-top input {
  transition: all 0.5s;
}
.left {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 4rem;
}
.right {
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 4rem;
  margin-top: 1rem;
}
.right div {
  font-size: 3rem;
}
input {
  width: 70rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  background-color: slategray;
  color: white;
  padding: 0.5rem;
}
input:focus {
  background: lightgray;
  color: black;
  transform: scale(1.035);
  border: 0.2rem solid darkgrey;
}
input:hover {
  transform: scale(1.035);
}
.section-top a:hover {
  transform: scale(1.2);
}
/*<-- Section-top Navbar  End -->*/

/*<-- Section-bot Navbar  Start -->*/
.section-bot {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}
.profile {
  position: relative;
  display: grid;
  grid-template-columns: 40px max-content;
  margin-left: 4rem;
}
.greeting {
  margin-left: 9rem;
  font-size: 3rem;
  grid-column: 2/4;
}
.profile-name {
  margin-left: 9rem;
  font-size: 3.2rem;
  grid-column: 2/4;
}
.profile img {
  width: 10rem;
  position: absolute;
}
.buttons {
  margin-right: 6rem;
  display: flex;
  gap: 2rem;
}
.buttons button {
  outline: none;
  border: 0.2rem solid lightblue;
  border-radius: 1rem;
  width: 13rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #bfdbfe;
  transition: all 0.5s;
}
.buttons button:hover {
  background-color: #99f6e4;
  transform: scale(1.1);
  cursor: pointer;
}

.buttons button:active {
  border: 0.2rem solid lightblue;
  background-color: #99f6e4;
  box-shadow: 0 1rem #99f6e4;
  transform: translateY(1rem);
}
/*<-- Section-bot Navbar  End -->*/

/*<-- Sidebar  Start -->*/
h2{
  margin-top: 1rem;
  text-align: center;
  grid-column: 2;
  font-size: 4rem;
}
.sidebar #logo{
  width: 6rem;

}
.sidebar{
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: max-content;
  gap: 1rem;
}
.categories{
  margin-left: 2rem;
  grid-column: 2;
  grid-row: 2;
  font-size: 3rem;
  line-height: 6rem;
  

}
.categori{
  transition: all 0.5s;
}
.categori:hover{
   transform: scale(1.1);

}
.categories a {
  color: #1f2937;
  text-decoration: none;
  font-weight: 500;
  
}
.icons{
  margin-left: 2rem;
  grid-column:1 ;
  line-height: 6rem;
  transition: all 0.5s;
}
.sub-section{
  margin-top: 10rem;
}
/*<-- Sidebar End -->*/