@import 'reboot.css';

:root{
  font-size: 62.5%;

}
body{
  font-size: 1.6rem;
}
nav,
aside,
main{
  border: 2px solid blueviolet;
}
.grid-container{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 0.5rem;
}
.navbar{
  grid-column: 2/-1;
}
.sidebar{
  grid-row: 1/-7;
}
.content{
  grid-column: 2/-1;
  grid-row: -6/-1;
}